{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block titular %}Blog de musica{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="{% static 'AppBlog/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark py-2 fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">Generos musicales</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'sobre_mi' %}">Sobre mi</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'editar_perfil' %}">Editar usuario</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a></li>
                        <li class="nav-item">
                            <span class="text-light"> Hola <strong>{{ user.username }}</strong>!</span>
                        </li>

                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro' %}">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'login' %}">Iniciar
                                sesion</a></li>
                        {% endif %}
                    </ul>
                </div>
        </div>
    </nav>
    {% block contenido %}
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">¡Bienvenido al blog de generos musicales!</h1>
                <h4 class="fw-bolder">Este es un blog que habla sobre los distintos generos de la musica</h4>
            </div>
        </div>
    </header>
    {% if post %}
    {% for post in post %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <a href="{% url 'detalle_genero' post.pk %}"><img class="card-img-top" src="{{ post.imagen.url }}"
                            alt="Imagen del post" /></a>
                    <div class="card-body">
                        <div class="small text-muted">Escrito por <strong>{{ post.autor }}</strong>, {{ post.fecha }}</div>
                        <h2 class="card-title h4">{{ post.genero }}</h2>
                        <p class="card-text">{{ post.descripcion }}</p>
                        <a class="btn btn-primary" href="{% url 'detalle_genero' post.pk %}">Leer más →</a>
                        <a class="btn btn-danger" href="{% url 'eliminar_post' post.id %}">Eliminar</a>
                        <a class="btn btn-success" href="{% url 'editar_post' post.id %}">Editar</a>
                    </div>
                </div>  
            </div>
            {% endfor %}
            {% endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <section class="p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
                <div class="container">
                    <div class="">
                        <div class="text-center">
                            <p class="lead my-4">
                                ¿Quieres agregar tu propio genero?
                            </p>
                            <a href="{% url 'crear_post' %}"><button type="submit" class="btn btn-primary">Agregalo acá</button></a>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2023 Sócrates Buriel</p></div>
    </footer>
    {% endblock %}
</html>
        